if (resume.basics.summary != null)
  .detail#about.nopagebreak
    .icon
      i.fs-lg.icon-board
      span.mobile-title Objective
    .info
      h4.title.text-uppercase Objective

      .content(itemprop="description")= resume.basics.summary
