<!-- |<!DOCTYPE html> -->
html(lang="en")
  head
    include meta/meta
    include meta/stylesheets

  body(itemscope, itemtype="http://schema.org/Person")
    .container-fluid
      .row.main.clearfix
        include floating-nav
        include cards/profile
        include cards/background

    include meta/scripts
