@import "../utilities";
@import "card";

.profile-card-wrapper {
  position: fixed;
  width: 25%;
  padding: 5px;

  @media (max-width: @screen-desktop) {
    position: relative;
    width: 100%;
  }
}


#profile-card {

  .profile-pic-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .profile-pic {
    display: flex;
    width: 6pc;
    height: 6pc;
    // padding: 20px 0;

    border: 1px solid black;
    #utilities > .border-radius(50%);
    #utilities > .transition(border-color, cubic-bezier(0.4, 0, 0.2, 1), 0.2s);

    &:hover {
      border-color: @green-dark;
    }

    > img {
      display: block;
      margin: auto;
      width: 5.5pc;
      height: 5.5pc;
    }
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    .detail {
      display: flex;
      align-content: flex-start;
      align-items: stretch;
      padding: 10px 0;

      .icon {
        padding: 0 10px;
        color: @icon-color;
      }

      .info {
        font-size: 0.8em;
      }

      .icon, .info {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .social-links {
    line-height: 2.5;

    .social-link {
      margin-left: 5px;
      min-width: 35px;
      display: inline-block;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }


  @media (max-width: @screen-desktop) {
    // .profile-pic {
    //   padding: 10px 0;
    // }

    .name {
      margin-top: 10px;
    }

    .contact-details {
      flex-direction: row;

      .detail {
        padding: 10px;

        .icon, .info {
          display: inline-block;
        }

        .icon {
          padding: 0 5px 0 0;
        }
      }
    }
  }
  @media (max-width: @screen-tablet) {
    .contact-details {
      flex-direction: column;
      align-items: center;
    }
  }
}



.make-social-link(@color){
    color: #CCC;
    #utilities > .transition(all, cubic-bezier(0.4, 0, 0.2, 1), 0.2s);

    &:hover, &:focus {
        text-decoration: none;
        // color: darken(@color, 10%);
        color: @color;
    }
}

.link-github { .make-social-link(@github-color); }
.link-twitter { .make-social-link(@twitter-color); }
.link-blog { .make-social-link(@rss-feed-color); }
.link-linkedin { .make-social-link(@linkedin-color); }
.link-skype { .make-social-link(@skype-color); }
.link-instagram { .make-social-link(@instagram-color); }
.link-stackoverflow { .make-social-link(@stackoverflow-color); }
.link-stackexchange { .make-social-link(@stackexchange-color); }
.link-lastfm { .make-social-link(@lastfm-color); }
.link-soundcloud { .make-social-link(@soundcloud-color); }
.link-googleplus { .make-social-link(@googleplus-color); }
.link-youtube { .make-social-link(@youtube-color); }
.link-pinterest { .make-social-link(@pinterest-color); }
.link-gratipay { .make-social-link(@gratipay-color); }
.link-vimeo { .make-social-link(@vimeo-color); }
.link-behance { .make-social-link(@behance-color); }
.link-codepen { .make-social-link(@codepen-color); }
.link-foursquare { .make-social-link(@foursquare-color); }
.link-reddit { .make-social-link(@reddit-color); }
.link-spotify { .make-social-link(@spotify-color); }
.link-tumblr { .make-social-link(@tumblr-color); }
.link-dribbble { .make-social-link(@dribbble-color); }
.link-facebook { .make-social-link(@facebook-color); }
.link-angellist { .make-social-link(@angellist-color); }
.link-bitbucket { .make-social-link(@bitbucket-color); }
.link-hackernews { .make-social-link(@hackernews-color); }
.link-exercism { .make-social-link(@exercism-color); }
