link(rel="stylesheet", href="../../external/css/bootstrap.min.css")

style
  //- include ../../external/css/bootstrap.min.css
  include ../../assets/css/theme.min.css
  
  
//- link(rel="stylesheet", href="assets/css/theme.css")
  
//- style!= css
//- style.
//-   include ./assets/css/theme.css
